<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <center><h1><b>Authentication Application</b></h1></center>
    <center><h3>Signup</h3></center>
    <input type="text" placeholder="Enter Firstname" name="fname" required/><br>
    <input type="text" placeholder="Enter Lastname" name="lname" required/><br>
    <input type="text" placeholder="Enter Username" name="username" required/><br>
    <input type="password" placeholder="Enter Password" name="password" required/><br>
    <input type="email" placeholder="Enter Email" name="email" required/><br>
    <input type="submit" value="Signup">
    </form>
</body>
</html>